<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forms</title>
    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <!--/.fluid-container-->
    <link th:href="@{/vendors/datepicker.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/vendors/uniform.default.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/vendors/chosen.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/vendors/wysiwyg/bootstrap-wysihtml5.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>
    <style>
        .datepicker{
        cursor:pointer;
        }
    </style>
    <style>
        .pdfobject-container { height: 600px;  min-height:600px;}
    </style>
</head>

<body>
<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" id="content">
            <!-- morris stacked chart -->
            <div class="row-fluid">
                <!-- block -->
                <div class="block span6">
                    <div class="navbar navbar-inner block-header">
                        Surat Masuk
                    </div>
                    <div class="block-content collapse in">
                        <div class="span6">
                            <form id="create-surat-masuk" action="" th:object="${surat}" method="post"
                                  class="form-horizontal" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <input type="hidden"
                                       th:field="*{id_surat}" th:if="${surat.getId_surat()>0}"/>
                                <fieldset>
                                    <legend>Form Surat Masuk</legend>
                                    <div class="control-group">
                                        <label class="control-label">No. Agenda</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" type="text"
                                                   th:field="*{no_agenda}" required="required"/>
                                            <span th:if="${#fields.hasErrors('no_agenda')}" th:errors="*{no_agenda}"
                                                  class="label label-important">Tidak boleh kosong</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Catatan Kasium</label>
                                        <div class="controls">
                                            <textarea name="ket_kasium"></textarea>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Surat Dari</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" type="text" th:field="*{dari}" required="required"/>
                                            <span th:if="${#fields.hasErrors('dari')}" th:errors="*{dari}"
                                                  class="label label-important">Tidak boleh kosong</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Nomor Surat</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" type="text" th:field="*{no_surat}" required="required"/>
                                            <span th:if="${#fields.hasErrors('no_surat')}" th:errors="*{no_surat}"
                                                  class="label label-important">Tidak boleh kosong</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Tanggal Surat</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused datepicker"
                                                   data-date-format="yyyy-mm-dd"
                                                   type="text" th:field="*{tanggal_surat}"
                                                   placeholder="yyyy-mm-dd" required="required"/>
                                            <span th:if="${#fields.hasErrors('tanggal_surat')}"
                                                  th:errors="*{tanggal_surat}" class="label label-important">Tidak boleh kosong</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Jenis Surat</label>
                                        <div class="controls">
                                            <select id="jenissurat" th:field="*{jenis_surat}">
                                                <option th:each="listCategoryDetail,itr : ${listCategory}"
                                                        th:value="${listCategoryDetail.getKode_surat()}"
                                                        th:text="${listCategoryDetail.getNama_jenis()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" id="undangan" style="display:none">
                                        <label class="control-label">Tanggal Undangan</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused datepicker"
                                                   data-date-format="yyyy-mm-dd"
                                                   value="0000-00-00"
                                                   type="text" th:field="*{tanggal_undangan}"
                                                   placeholder="yyyy-mm-dd"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Waktu Batas Akhir</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused datepicker"
                                                   type="text" th:field="*{batas_waktu}"
                                                   placeholder="yyyy-mm-dd hh:mm"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Perihal</label>
                                        <div class="controls">
                                            <textarea th:field="*{perihal}" required="required"></textarea>
                                            <span th:if="${#fields.hasErrors('perihal')}" th:errors="*{perihal}"
                                                  class="label label-important">Tidak boleh kosong</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Keterangan Lain</label>
                                        <div class="controls">
                                            <textarea th:field="*{ket_lain}"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{file_surat}"/>
                                    <!--<div class="control-group">-->
                                    <!--<label class="control-label">File Surat</label>-->
                                    <!--<div class="controls">-->
                                    <!--<input type="file" class="upload" data-target="file_surat"-->
                                    <!--th:href="@{/upload}" name="file" accept="application/pdf"/>-->
                                    <!--<span th:if="${#fields.hasErrors('file_surat')}" th:errors="*{file_surat}"-->
                                    <!--class="label label-important">Tidak boleh kosong</span>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                        <button type="reset" class="btn">Reset</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Dokumen</div>
                        </div>
                        <div class="block-content collapse in" style="padding:0px 5px;">
                            <div class="row-fluid">
                                <div class="span12">
                                    <button class="btn btn-primary span6" id="buttonupload">Upload File</button>
                                    <button class="btn btn-warning span6" id="scan">Scan File</button>
                                </div>
                            </div>
                            <div class="row-fluid" style="margin-top:10px; display:none;" id="progress">
                                <div class="progress" style="margin:0px">
                                    <div class="bar" style="width: 60%;">

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid" style="opacity:0;width: 0px;height: 0px;">
                                <form id="uploadfile">
                                    <input type="file" name="uploadfile" style="opacity:0;width: 0px;height: 0px;"
                                           accept="application/pdf"/>
                                </form>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 pdfobject-container" id="pdf-file"
                                     style="margin:10px 0px; background:#dddddd;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
                <!-- /block -->
            </div>


        </div>
    </div>
</div>


<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/assets/scripts.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:src="@{/assets/socket.io.js}"></script>
<script th:src="@{/vendors/jquery.mask.min.js}"></script>

<script th:inline="javascript">
    //socketio

    var io =  io.connect('http://localhost:9092', {reconnect: true});
    io.on('connection', function () {
        console.log("connected");
//        $("#scan").removeAttr("disabled");
    });
    io.on('error', function() {
//        $("#scan").attr("disabled","disabled");
        console.log("error");
    });
    io.on('scan-error', function (data) {
        data = JSON.parse(data);
        console.log(data);
//        $("#scan").removeAttr("disabled");
        alert(data.message);
    });

    io.on('scan-success', function (data) {
        $("#progress").hide();
        data = JSON.parse(data);
        console.log(data.path);
        PDFObject.embed([[@{/}]] +data.path, "#pdf-file");
        $("#file_surat").val(data.path);
        $("[name=uploadfile]").val("");
//        $("#scan").removeAttr("disabled");
    });

    io.on('progress', function (data) {
        data = JSON.parse(data);
        $("#progress").show();
        $("#progress .progress .bar").width(data.progress+'%');
//        $("#scan").attr("disabled","disabled");
    });

    io.on('disconnect', function (data) {
        console.log("disconnected");
//        $("#scan").attr("disabled","disabled");
    });
    //endsocketio


    $("#scan").click(function(e){
        var server = window.location.href.replace(/^((\w+:)?\/\/[^\/]+\/?).*$/,'$1')+[[@{/api/uploadFile}]];
        console.log(server);
        io.emit("scan",JSON.stringify({'server':server}));
//        $("#scan").attr("disabled","disabled");
    });

    $("[name=uploadfile]").change(function(){
        console.log($(this).val());
        uploadFile();
    });

    $("[name=uploadfile]").click(function(){
        $(this).val("");
    });

    $("#buttonupload").click(function(){
        console.log("clicked");
        $("input[name=uploadfile]").click();
    });

    if($("#data.path").val()!== undefined){
        PDFObject.embed([[@{/}]].replace('/','')+$("#data.path").val(), "#pdf-file");
    }

    function uploadFile() {
      var formData = new FormData();
      formData.append('uploadfile', $("[name=uploadfile]")[0].files[0]);
      $.ajax({
        xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener("progress", function(evt) {
              if (evt.lengthComputable) {
                var percentComplete = evt.loaded / evt.total;
                percentComplete = parseInt(percentComplete * 100);
                console.log(percentComplete);
                $("#progress").show();
                $("#progress .progress .bar").width(percentComplete+'%');
                if (percentComplete === 100) {

                }
              }
            }, false);
            return xhr;
        },
        url: [[@{/api/uploadFile}]] ,
        type: "POST",
        data: formData,
        enctype: 'multipart/form-data',
        processData: false,
        contentType: false,
        cache: false,
        success: function (data) {
          $("#progress").hide();
          $("#progress .progress .bar").width('0%');
          console.log(data);
          PDFObject.embed([[@{/}]].replace('/','')+data.path, "#pdf-file");
          $("#file_surat").val(data.path);
          $("[name=uploadfile]").val("");
        },
        error: function () {
          $("#progress").hide();
          $("#progress .progress .bar").width('0%');
          $("[name=uploadfile]").val("");
        }
      });
    }

    if($("[name=file_surat]").val().length>0){
        PDFObject.embed([[@{/}]].replace('/','')+$("[name=file_surat]").val(), "#pdf-file");
    }

</script>
<script>
    $("#no_agenda").focus();

    $(function() {
        $("#tanggal_undangan").mask("0000-00-00");
        $("#tanggal_surat").mask("0000-00-00");
        $("#batas_waktu").mask("0000-00-00 00:00");
    });

    $("#jenissurat").change(function(e){
        if($(this).val()=="Undangan"){
            $("#undangan").show();
        }else{
            $("#undangan").hide();
        }
    });

    $("#create-surat-masuk").submit(function(e){
        if($("#file_surat").val()===""){
            e.preventDefault();
            alert("Upload/Scan file terlebih dahulu");
        }
    });
</script>
</body>

</html>