<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

</head>
<style>
    .pdfobject-container {
        height: 500px;
    }

    .pdfobject {
        border: 1px solid #666;
    }

    textarea {
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }
</style>
<body>
<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <!--/span-->
        <div class="span12" id="content">
            <div class="row-fluid">
                <div class="span5">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Surat Masuk</div>
                            <div class="pull-right" style="padding-top:0">
                                <form style="float: left;margin: 0 5px;" th:action="@{/surat/teruskan}" method="post"
                                      th:if="${ (T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM) AND suratDetails.getStep_surat()== 2 }">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <input type="hidden" name="id" th:value="${suratDetails.getId_surat()}"/>
                                    <button type="submit"
                                            class="btn btn-warning"
                                            onclick="return (confirm('Apakah Anda yakin dengan ini?'))">teruskan ke KA
                                    </button>
                                </form>
                                <button type="button"
                                        th:if="${ suratDetails.getStep_surat() &lt; 7 AND (T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_KA) }"
                                        class="btn btn-warning"
                                        data-toggle="modal" data-target="#modal">disposisi
                                </button>
                                <button type="button"
                                        th:if="${ suratDetails.getStep_surat() &lt; 7 AND T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM}"
                                        class="btn btn-warning"
                                        th:onclick="'document.location =\''+@{/surat/buatdisposisi/?id=}+${suratDetails.getId_surat()}+'\''">
                                    disposisi
                                </button>
                                <button type="button" th:if="${allowed}==true" class="btn btn-primary"
                                        th:onclick="'document.location =\''+@{/surat/edit/?id=}+${suratDetails.getId_surat()}+'\''">
                                    edit
                                </button>
                                <button type="button" th:if="${allowed}==true" class="btn btn-danger"
                                        th:onclick="'if(confirm(\'Apakah Anda yakin dengan ini?\'))document.location =\''+@{/surat/deletemasuk/?id=}+${suratDetails.getId_surat()}+'\''">
                                    delete
                                </button>
                            </div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Jenis</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getJenis_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>No.</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getNo_agenda() }"></td>
                                    </tr>
                                    <tr>
                                        <td>No. Surat</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getNo_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Pengirim</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getDari() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Tanggal Surat</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getTanggal_surat() }"></td>
                                    </tr>
                                    <tr th:if="${suratDetails.getJenis_surat() == 'Undangan'}">
                                        <td>Waktu Undangan</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getTanggal_undangan() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Waktu Penerimaan Surat</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getDatetime_diterima() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Perihal</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getPerihal() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Catatan Kasium</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getKet_kasium() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Batas Akhir</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getBatas_waktu() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Keterangan Lain</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getKet_lain() }"></td>
                                    </tr>

                                    <tr th:if="${suratDetails.getStep_surat() >= 3 AND suratDetails.getStep_surat()!= 4}">
                                        <td>Waktu Disposisi</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getWaktu_disposisi() }"></td>
                                    </tr>
                                    <tr th:if="${suratDetails.getStep_surat() >= 3 AND suratDetails.getStep_surat()!= 4}">
                                        <td>Disposisi</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getDisposisi() }"></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
                <div class="span7">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left"
                                 th:if="${suratDetails.getFile_disposisi()==null OR suratDetails.getFile_disposisi().length()==0}">
                                Surat Masuk
                            </div>
                            <div class="pull-left" style="padding-top:0"
                                 th:if="${suratDetails.getFile_disposisi()!=null AND suratDetails.getFile_disposisi().length()!=0}">
                                <ul class="nav nav-pills" id="menu_file">
                                    <li class="active"><a th:href="${suratDetails.getFile_surat()}">File Surat Masuk</a>
                                    </li>
                                    <li><a th:href="${suratDetails.getFile_disposisi()}">File Disposisi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12" id="pdf-file">
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.fluid-container-->

<div class="modal fade" id="modal" role="dialog"
     th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_KA }">
    <div class="modal-dialog">
        <form method="POST" id="form" class="form-horizontal" th:action="@{/surat/disposisi}">
            <input type="hidden" name="id" th:value="${suratDetails.getId_surat()}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Disposisi</h3>
                </div>
                <div class="modal-body form">
                    <div class="col-md-12">
                        <textarea name="disposisi" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>

<script th:inline="javascript">
    var documentName = /*[[${ suratDetails.getFile_surat() }]]*/;
    var documentDisposisi = /*[[${ suratDetails.getFile_disposisi() }]]*/;
    PDFObject.embed([[@{/}]] + documentName, "#pdf-file");

    $(function () {
        $('#get_file_disposisi').click(function (e) {
            e.preventDefault();
            PDFObject.embed([[@{/}]].replace('/','')+documentDisposisi, "#pdf-file");
        })

        $('#get_file_surat').click(function (e) {
            e.preventDefault();
            PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
        })
        PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
    })

    $('#menu_file li a').click(function (e) {
        e.preventDefault();
        var path=[[@{/}]].replace('/','');
        PDFObject.embed(path+$(this).attr("href"), "#pdf-file");
    });
    $('#menu_file li').click(function (e) {
        e.preventDefault();
        $('#menu_file li').each(function () {
            $(this).removeClass("active")
        });
        $(this).addClass("active");
    });
</script>
<script th:src="@{/assets/scripts.js}"></script>
</body>

</html>