<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

</head>
<style>
    .pdfobject-container { height: 500px;}
    .pdfobject { border: 1px solid #666; }
</style>
<body>
<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <!--/span-->
        <div class="span12" id="content">
            <div class="row-fluid">
                <div class="span5">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Surat Masuk</div>
                            <div class="pull-right" style="padding-top:0" >
                                <button type="button" class="btn btn-primary" th:onclick="'document.location =\''+@{/surat/editkeluar/?id=}+${suratDetails.getId_surat()}+'\''">edit</button>
                                <button type="button" class="btn btn-danger" th:onclick="'if(confirm(\'Apakah Anda yakin dengan ini?\'))document.location =\''+@{/surat/deletekeluar/?id=}+${suratDetails.getId_surat()}+'\''">delete</button>
                            </div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Jenis </td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getJenis_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>No. Surat </td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getNo_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Tujuan Surat </td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getKepada() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Tanggal Surat </td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getTanggal_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Perihal </td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getPerihal() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Keterangan Lain</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getKet_lain() }"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
                <div class="span7">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Surat Masuk</div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12" id="pdf-file">
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.fluid-container-->
<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:inline="javascript">
	        var documentName = /*[[${ suratDetails.getFile_surat() }]]*/;
		    PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
		    
		    $(function(){
		    	$('#get_file_disposisi').click(function(e){
	            	e.preventDefault();
				    PDFObject.embed([[@{/}]].replace('/','')+documentDisposisi, "#pdf-file");
	            })
	            
	            $('#get_file_surat').click(function(e){
	            	e.preventDefault();
				    PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
	            })
			    PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
		    })
		</script>
<script src="/assets/scripts.js"></script>
</body>

</html>