<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

</head>
<style>
    .pdfobject-container {
        height: 500px;
    }

    .pdfobject {
        border: 1px solid #666;
    }

    textarea {
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }
</style>
<body>
<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <!--/span-->
        <div class="span12" id="content">

            <div class="row-fluid">
                <!-- block -->
                <div class="block span6">
                    <div class="navbar navbar-inner block-header">

                    </div>
                    <div class="block-content collapse in">
                        <div class="span6">
                            <form id="create-surat-masuk" action="" th:object="${surat}" method="post"
                                  class="form-horizontal">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <input type="hidden" th:field="*{id_surat}" th:if="${surat.getId_surat()>0}"/>
                                <fieldset>
                                    <legend>Form Disposisi</legend>

                                    <div class="control-group">
                                        <label class="control-label">Diposisi</label>
                                        <div class="controls">
                                            <textarea th:field="*{disposisi}" rows="8" style="width:400px"></textarea>
                                            <span th:if="${#fields.hasErrors('disposisi')}" th:errors="*{disposisi}"
                                                  class="label label-important">Tidak boleh kosong</span>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{file_disposisi}"/>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                        <button type="reset" class="btn">Reset</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Dokumen</div>
                        </div>
                        <div class="block-content collapse in" style="padding:0px 5px;">
                            <div class="row-fluid">
                                <div class="span12">
                                    <button class="btn btn-primary span6" id="buttonupload">Upload File</button>
                                    <button class="btn btn-warning span6" id="scan">Scan File</button>
                                </div>
                            </div>
                            <div class="row-fluid" style="margin-top:10px; display:none;" id="progress">
                                <div class="progress" style="margin:0px">
                                    <div class="bar" style="width: 60%;">

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid" style="opacity:0;width: 0px;height: 0px;">
                                <form id="uploadfile">
                                    <input type="file" name="uploadfile" style="opacity:0;width: 0px;height: 0px;"
                                           accept="application/pdf"/>
                                </form>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 pdfobject-container" id="pdf-file"
                                     style="margin:10px 0px; background:#dddddd;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
                <!-- /block -->
            </div>

        </div>
    </div>
</div>
<!--/.fluid-container-->
<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:src="@{/assets/socket.io.js}"></script>
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
<script th:inline="javascript">

    $('#menu_file li a').click(function (e) {
        e.preventDefault();
        PDFObject.embed("/doc/" + $(this).attr("href"), "#pdf-file");
    });

    $('#menu_file li').click(function (e) {
        e.preventDefault();
        $('#menu_file li').each(function () {
            $(this).removeClass("active")
        });
        $(this).addClass("active");
    });

    //socketio
    var io = io.connect('http://localhost:9092', {reconnect: true});
    io.on('connect', function () {
        console.log("connected");
    });
    io.on('scan-error', function (data) {
        data = JSON.parse(data);
        console.log(data);
    });

    io.on('scan-success', function (data) {
        $("#progress").hide();
        data = JSON.parse(data);
        console.log(data.path);
        PDFObject.embed([[@{/}]].replace('/','')+data.path, "#pdf-file");
        $("#file_disposisi").val(data.path);
        $("[name=uploadfile]").val("");
    });

    io.on('progress', function (data) {
        data = JSON.parse(data);
        $("#progress").show();
        $("#progress .progress .bar").width(data.progress + '%');
    });

    io.on('disconnect', function (data) {
        console.log("disconnected");
    });
    //endsocketio


    $("#scan").click(function (e) {
        io.emit("scan", "{}");
    });

    $("#no_agenda").focus();

    $(function () {
        $("#tanggal_undangan").mask("0000-00-00");
        $("#tanggal_surat").mask("0000-00-00");
        $("#batas_waktu").mask("0000-00-00 00:00");
    });

    $("#jenissurat").change(function (e) {
        if ($(this).val() == "Undangan") {
            $("#undangan").show();
        } else {
            $("#undangan").hide();
        }
    });

    $("[name=uploadfile]").change(function () {
        console.log($(this).val());
        uploadFile();
    });

    $("[name=uploadfile]").click(function () {
        $(this).val("");
    });

    $("#buttonupload").click(function () {
        console.log("clicked");
        $("input[name=uploadfile]").click();
    });

    if ($("#data.path").val() !== undefined) {
        PDFObject.embed([[@{/}]].replace('/','')+$("#data.path").val(), "#pdf-file");
    }

    function uploadFile() {
        var formData = new FormData();
        formData.append('uploadfile', $("[name=uploadfile]")[0].files[0]);
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        percentComplete = parseInt(percentComplete * 100);
                        console.log(percentComplete);
                        $("#progress").show();
                        $("#progress .progress .bar").width(percentComplete + '%');
                        if (percentComplete === 100) {

                        }
                    }
                }, false);a
                return xhr;
            },
            url: [[@{/api/uploadFile}]] ,
            type: "POST",
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                $("#progress").hide();
                $("#progress .progress .bar").width('0%');
                console.log(data);
                PDFObject.embed([[@{/}]].replace('/','')+data.path, "#pdf-file");
                $("#file_disposisi").val(data.path);
                $("[name=uploadfile]").val("");
            },
            error: function () {
                $("#progress").hide();
                $("#progress .progress .bar").width('0%');
                $("[name=uploadfile]").val("");
            }
        });
    }

    $("#create-surat-masuk").submit(function (e) {
        if ($("#file_disposisi").val() == null) {
            e.preventDefault();
            alert("Upload/Scan file terlebih dahulu");
        }
    });

    if ($("[name=file_disposisi]").val().length > 0) {
        PDFObject.embed([[@{/}]].replace('/','')+$("[name=file_disposisi]").val(), "#pdf-file");
    }

</script>
<script src="/assets/scripts.js"></script>
</body>

</html>