<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

</head>
<style>
    .pdfobject-container {
        height: 500px;
    }

    .pdfobject {
        border: 1px solid #666;
    }

    .header-document {
        cursor: pointer;
    }
</style>
<body>

<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <!--/span-->
        <div class="span12" id="content">
            <div class="row-fluid">
                <div class="span7">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Surat Masuk</div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Jenis</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getJenis_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Tanggal Surat</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getTanggal_surat() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Perihal</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getPerihal() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Keterangan Kasium</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getKet_kasium() }"></td>
                                    </tr>
                                    <tr>
                                        <td>Keterangan Lain</td>
                                        <td>:</td>
                                        <td th:text="${ suratDetails.getKet_lain() }"></td>
                                    </tr>
                                </table>
                                <form action="" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="_csrf" th:value="${ _csrf.token }"/>
                                    <input type="hidden" name="id_surat" th:value="${ suratDetails.getId_surat() }"/>

                                    <table class="table">
                                        <tr th:if="${ isWaka }">
                                            <td>Teruskan ke KA</td>
                                            <td>:</td>
                                            <td>
                                                <input type="checkbox" id="teruskan_ka" name="step_surat" value="4"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Disposisi
                                            </td>
                                            <td>:</td>
                                            <td>
                                                <div class="controls">
                                                    <textarea name="disposisi"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:if="${ isSripim }" style="">
                                            <td colspan="3">
                                                <div class="controls">
                                                    <input type="file" name="uploadfile"
                                                           style="opacity:1;width: 0px;height: 0px;"
                                                           accept="application/pdf"/>
                                                    <input type="hidden" id="file_disposisi" name="file_disposisi"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <input type="submit" value="Simpan" class="btn btn-success"/>
                                                <input type="reset" value="Cancel" class="btn btn-danger"/>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
                <div class="span5">
                    <div class="span12" th:if="${ isSripim }">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header header-document" data-id="container-disposisi">
                                <div class="muted pull-left">Upload File Disposisi</div>
                            </div>
                            <div id="container-disposisi" class="block-content collapse container-body">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <button class="btn btn-primary span6" id="buttonupload">Upload File</button>
                                        <button class="btn btn-warning span6" id="scan">Scan File</button>
                                    </div>
                                </div>
                                <div class="row-fluid" style="margin-top:10px; display:none;" id="progress">
                                    <div class="progress" style="margin:0px">
                                        <div class="bar" style="width: 60%;">

                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12" id="pdf-disposisi"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                    <div class="span12" style="margin-left:0px;">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header header-document"
                                 data-id="container-suratmasuk">
                                <div class="muted pull-left">Surat Masuk</div>
                            </div>
                            <div class="block-content collapse in container-body" id="container-suratmasuk">
                                <div class="span12" id="pdf-file">
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.fluid-container-->
<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>


<script th:inline="javascript">
    var documentName = /*[[ [[@{/doc/}]] + ${ suratDetails.getFile_surat() }]]*/;
    PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
    //		    PDFObject.embed(documentName, "#pdf-disposisi");

    var io =  io.connect('http://localhost:9092', {reconnect: true});
    io.on('connection', function () {
        console.log("connected");
//        $("#scan").removeAttr("disabled");
    });
    io.on('error', function() {
//        $("#scan").attr("disabled","disabled");
        console.log("error");
    });
    io.on('scan-error', function (data) {
        data = JSON.parse(data);
        console.log(data);
//        $("#scan").removeAttr("disabled");
        alert(data.message);
    });

    io.on('scan-success', function (data) {
        $("#progress").hide();
        data = JSON.parse(data);
        console.log(data.path);
        PDFObject.embed([[@{/}]] +data.path, "#pdf-disposisi");
        $("#file_surat").val(data.path);
        $("[name=uploadfile]").val("");
//        $("#scan").removeAttr("disabled");
    });

    io.on('progress', function (data) {
        data = JSON.parse(data);
        $("#progress").show();
        $("#progress .progress .bar").width(data.progress+'%');
//        $("#scan").attr("disabled","disabled");
    });

    io.on('disconnect', function (data) {
        console.log("disconnected");
//        $("#scan").attr("disabled","disabled");
    });
    //endsocketio


    $("#scan").click(function(e){
        var server = window.location.href.replace(/^((\w+:)?\/\/[^\/]+\/?).*$/,'$1')+[[@{/api/uploadFile}]];
        console.log(server);
        io.emit("scan",JSON.stringify({'server':server}));
//        $("#scan").attr("disabled","disabled");
    });

    $('.header-document').click(function () {
        var id = '#' + $(this).data('id');
        if ($(id).hasClass('in')) {
            $(id).removeClass('in');
        } else {
//		    		$(id).attr('class','block-content collapse');
            $('.container-body').removeClass('in');
            $(id).addClass('in');
        }
    });

    $("[name=uploadfile]").change(function () {
        console.log($(this).val());
        uploadFile();
    });

    $("[name=uploadfile]").click(function () {
        $(this).val("");
    });

    $("#buttonupload").click(function () {
        $("input[name=uploadfile]").click();
    });


    function uploadFile() {
        var formData = new FormData();
        formData.append('uploadfile', $("[name=uploadfile]")[0].files[0]);
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        percentComplete = parseInt(percentComplete * 100);
                        console.log(percentComplete);
                        $("#progress").show();
                        $("#progress .progress .bar").width(percentComplete + '%');
                        if (percentComplete === 100) {

                        }
                    }
                }, false);
                return xhr;
            },
            url: [[@{/api/uploadFile}]] ,
            type: "POST",
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                $("#progress").hide();
                $("#progress .progress .bar").width('0%');
                $('#file_disposisi').val(data.path);
                PDFObject.embed([[@{/}]] +data.path, "#pdf-disposisi");
                $("[name=uploadfile]").val("");
            },
            error: function () {
                $("#progress").hide();
                $("#progress .progress .bar").width('0%');
                $("[name=uploadfile]").val("");
            }
        });
    }
</script>
<script src="/assets/scripts.js"></script>
</body>

</html>