<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Surat</title>
    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <!--/.fluid-container-->
    <link th:href="@{/vendors/datepicker.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/vendors/uniform.default.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/vendors/chosen.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/vendors/wysiwyg/bootstrap-wysihtml5.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>
    <style>
        .datepicker {
            cursor: pointer;
        }

        .pdfobject-container {
            height: 500px;
        }

        .pdfobject {
            border: 1px solid #666;
        }
    </style>
</head>

<body>

<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">

                <div class="span5" style="margin-right:10px;">
                    <!-- block -->
                    <div class="block">
                        <div class="navbar navbar-inner block-header">
                            <div class="muted pull-left">Surat Masuk</div>
                        </div>
                        <div class="block-content collapse in">
                            <div class="span12" id="pdf-file">
                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>

                <div class="span7" id="content">
                    <!-- morris stacked chart -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">

                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form id="create-surat-masuk" action="" method="post" class="form-horizontal"
                                          enctype="multipart/form-data">
                                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                        <input type="hidden" name="id_surat" th:value="${suratDetail.getId_surat()}"/>
                                        <fieldset>
                                            <legend>Form Edit Disposisi</legend>
                                            <div class="control-group">
                                                <label class="control-label">No. Agenda</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" type="text" name="no_agenda"
                                                           th:value="${suratDetail.getNo_agenda()}"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Tanggal Diterima</label>
                                                <div class="controls">
                                                    <input th:value="${suratDetail.getDatetime_diterima()}"
                                                           name="datetime_diterima" readonly="readonly"
                                                           class="input-xlarge focused datepicker"
                                                           data-date-format="yyyy-mm-dd" type="text"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Catatan Kasium</label>
                                                <div class="controls">
                                                    <textarea name="ket_kasium"
                                                              th:text="${suratDetail.getKet_kasium()}"></textarea>
                                                </div>
                                            </div>
                                            <!--                                          <div class="control-group">
                                                                                      <label class="control-label" >Yth</label>
                                                                                      <div class="controls">
                                                                                        <input class="input-xlarge focused" type="text" value="" />
                                                                                      </div>
                                                                                    </div>
                                            -->
                                            <div class="control-group">
                                                <label class="control-label">Surat Dari</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" name="dari" type="text"
                                                           th:value="${suratDetail.getDari()}"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Nomor</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" name="no_surat" type="text"
                                                           th:value="${suratDetail.getNo_surat()}"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Tanggal</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused datepicker" name="tanggal_surat"
                                                           data-date-format="yyyy-mm-dd" readonly="readonly"
                                                           th:value="${suratDetail.getTanggal_surat()}" type="text"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Jenis Surat</label>
                                                <div class="controls">
                                                    <select name="jenis_surat">
                                                        <option th:each="listCategoryDetail,itr : ${listCategory}"
                                                                th:selected="${ listCategoryDetail.getKode_surat().contains(suratDetail.getJenis_surat() )}"
                                                                th:value="${listCategoryDetail.getKode_surat()}"
                                                                th:text="${listCategoryDetail.getNama_jenis()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Perihal</label>
                                                <div class="controls">
                                                    <textarea name="perihal"
                                                              th:text="${suratDetail.getPerihal()}"></textarea>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Keterangan</label>
                                                <div class="controls">
                                                    <textarea name="ket_lain"
                                                              th:text="${suratDetail.getKet_lain()}"></textarea>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    File Surat
                                                </label>
                                                <div class="controls">
                                                    <span class="label label-warning">re-upload untuk mengedit dokumen</span>
                                                    <input type="file" class="upload" data-target="file_surat"
                                                           th:href="@{/upload}" name="file"/>
                                                    <a th:if="${ suratDetail.getFile_surat() != null }"
                                                       class="btn btn-primary" id="get_file_surat">Lihat</a>
                                                    <input type="hidden" name="file_surat"
                                                           th:value="${ suratDetail.getFile_surat() }"/>
                                                </div>
                                            </div>
                                            <input th:value="${suratDetail.getDisposisi_oleh()}"
                                                   class="input-xlarge focused" name="disposisi_oleh" type="hidden"/>
                                            <div class="control-group">
                                                <label class="control-label">Waktu Disposisi </label>
                                                <div class="controls">
                                                    <input name="waktu_disposisi" readonly="readonly"
                                                           th:value="${suratDetail.getWaktu_disposisi()}"
                                                           class="input-xlarge focused datepicker"
                                                           data-date-format="yyyy-mm-dd" type="text"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    File Surat Disposisi
                                                </label>
                                                <div class="controls">
                                                    <span class="label label-warning">re-upload untuk mengedit dokumen</span>
                                                    <input type="file" name="file_disposisi_upload"/>
                                                    <input type="hidden" name="file_disposisi"
                                                           th:value="${ suratDetail.getFile_disposisi() }"/>
                                                    <a th:if="${ suratDetail.getFile_disposisi() != null }"
                                                       class="btn btn-primary" href="#"
                                                       id="get_file_disposisi">Lihat</a>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Disposisi</label>
                                                <div class="controls">
                                                    <textarea name="disposisi"
                                                              th:text="${suratDetail.getDisposisi()}"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary">Simpan</button>
                                                <button type="reset" class="btn">Reset</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/assets/scripts.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:src="@{/assets/socket.io.js}"></script>
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>

<script th:inline="javascript">
    var documentName = /*[[${ suratDetail.getFile_surat() }]]*/;
    var documentDisposisi = /*[[${ suratDetail.getFile_disposisi() }]]*/;

    $(function () {
        $(".datepicker").datepicker();
        $('#get_file_disposisi').click(function (e) {
            e.preventDefault();
            PDFObject.embed([[@{/}]] + documentDisposisi, "#pdf-file");
        })

        $('#get_file_surat').click(function (e) {
            e.preventDefault();
            PDFObject.embed([[@{/}]] + documentName, "#pdf-file");
        })
        PDFObject.embed([[@{/}]] + documentName, "#pdf-file");
    });
</script>
</body>

</html>