<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SIUM</title>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=3)"></div>
<!--content-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="">
        <div class="col-lg-12">
            <h1 class="page-header">Detail Surat Keluar</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="block col-md-5" style="padding-bottom: 25px; padding-left:15px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Surat</h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" th:onclick="'document.location =\''+@{/surat/editkeluar/?id=}+${suratDetails.getId_surat()}+'\''">edit</button>
                        <button type="button" class="btn btn-danger" th:onclick="'if(confirm(\'Apakah Anda yakin dengan ini?\'))document.location =\''+@{/surat/deletekeluar/?id=}+${suratDetails.getId_surat()}+'\''">delete</button>
                    </div>
                </div>
                <div class="panel-body" style="padding:5px 5px;">
                    <div class="span12">
                        <table class="table table-striped">
                            <tr>
                                <td>Jenis </td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getJenis_surat() }"></td>
                            </tr>
                            <tr>
                                <td>No. Surat </td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getNo_surat() }"></td>
                            </tr>
                            <tr>
                                <td>Tujuan Surat </td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getKepada() }"></td>
                            </tr>
                            <tr>
                                <td>Tanggal Surat </td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getTanggal_surat() }"></td>
                            </tr>
                            <tr>
                                <td>Perihal </td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getPerihal() }"></td>
                            </tr>
                            <tr>
                                <td>Keterangan Lain</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getKet_lain() }"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <!-- block -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Dokumen</h3>
                </div>
                <div class="panel-body" style="padding:5px 5px;">
                    <div class="">
                        <div class="pdfobject-container col-sm-12 col-md-12" id="pdf-file">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>

</div>
<!--/.content-->

<div th:replace="template/lumino-footer :: js-lib"></div>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:inline="javascript">
    var documentName = /*[[${ suratDetails.getFile_surat() }]]*/;

    $(function(){
        $('#get_file_disposisi').click(function(e){
            e.preventDefault();
            PDFObject.embed([[@{/}]].replace('/','')+documentDisposisi, "#pdf-file");
        });

        $('#get_file_surat').click(function(e){
            e.preventDefault();
            PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
        });

        PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
    });
</script>
</body>
</html>