<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SIUM</title>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=1)"></div>
<!--content-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="">
        <div class="col-lg-12">
            <h1 class="page-header">Detail Surat Masuk</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="block col-md-5" style="padding-bottom: 25px; padding-left:15px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Surat</h3>
                    <div class="pull-right">
                        <form style="float: left;margin: 0 5px;" th:action="@{/surat/teruskan}" method="post"
                              th:if="${ (T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM) AND suratDetails.getStep_surat()== 2 }">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="id" th:value="${suratDetails.getId_surat()}"/>
                            <button type="submit"
                                    class="btn btn-warning"
                                    onclick="return (confirm('Apakah Anda yakin dengan ini?'))">teruskan ke KA
                            </button>
                        </form>
                        <button type="button"
                                th:if="${ suratDetails.getStep_surat() &lt; 7 AND (T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_KA) }"
                                class="btn btn-warning"
                                data-toggle="modal" data-target="#modal">disposisi
                        </button>
                        <button type="button"
                                th:if="${ suratDetails.getStep_surat() &lt; 7 AND T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM}"
                                class="btn btn-warning"
                                th:onclick="'document.location =\''+@{/surat/buatdisposisi/?id=}+${suratDetails.getId_surat()}+'\''">
                            disposisi
                        </button>
                        <button type="button" th:if="${allowed}==true" class="btn btn-primary"
                                th:onclick="'document.location =\''+@{/surat/edit/?id=}+${suratDetails.getId_surat()}+'\''">
                            edit
                        </button>
                        <button type="button" th:if="${allowed}==true" class="btn btn-danger"
                                th:onclick="'if(confirm(\'Apakah Anda yakin dengan ini?\'))document.location =\''+@{/surat/deletemasuk/?id=}+${suratDetails.getId_surat()}+'\''">
                            delete
                        </button>
                    </div>
                </div>
                <div class="panel-body" style="padding:5px 5px;">
                    <div class="span12">
                        <table class="table table-striped">
                            <tr>
                                <td>Jenis</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getJenis_surat() }"></td>
                            </tr>
                            <tr>
                                <td>No.</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getNo_agenda() }"></td>
                            </tr>
                            <tr>
                                <td>No. Surat</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getNo_surat() }"></td>
                            </tr>
                            <tr>
                                <td>Pengirim</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getDari() }"></td>
                            </tr>
                            <tr>
                                <td>Tanggal Surat</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getTanggal_surat() }"></td>
                            </tr>
                            <tr th:if="${suratDetails.getJenis_surat() == 'Undangan'}">
                                <td>Waktu Undangan</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getTanggal_undangan() }"></td>
                            </tr>
                            <tr>
                                <td>Waktu Penerimaan Surat</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getDatetime_diterima() }"></td>
                            </tr>
                            <tr>
                                <td>Perihal</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getPerihal() }"></td>
                            </tr>
                            <tr>
                                <td>Catatan Kasium</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getKet_kasium() }"></td>
                            </tr>
                            <tr>
                                <td>Batas Akhir</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getBatas_waktu() }"></td>
                            </tr>
                            <tr>
                                <td>Keterangan Lain</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getKet_lain() }"></td>
                            </tr>

                            <tr th:if="${suratDetails.getStep_surat() >= 3 AND suratDetails.getStep_surat()!= 4}">
                                <td>Waktu Disposisi</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getWaktu_disposisi() }"></td>
                            </tr>
                            <tr th:if="${suratDetails.getStep_surat() >= 3 AND suratDetails.getStep_surat()!= 4}">
                                <td>Disposisi</td>
                                <td>:</td>
                                <td th:text="${ suratDetails.getDisposisi() }"></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <!-- block -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Dokumen</h3>
                    <div class="pull-right">
                        <ul class="nav nav-tabs" id="menu_file" style="font-size:0.8em;"
                            th:if="${suratDetails.getFile_disposisi()!=null AND suratDetails.getFile_disposisi().length()!=0}">
                            <li class="active"><a th:href="${suratDetails.getFile_surat()}">File Surat Masuk</a>
                            </li>
                            <li><a th:href="${suratDetails.getFile_disposisi()}">File Disposisi</a></li>
                        </ul>
                        <h3 th:unless="${suratDetails.getFile_disposisi()!=null AND suratDetails.getFile_disposisi().length()!=0}"></h3>
                    </div>
                </div>
                <div class="panel-body" style="padding:5px 5px;">
                    <div class="">
                        <div class="pdfobject-container col-sm-12 col-md-12" id="pdf-file">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>

</div>
<!--/.content-->


<div class="modal fade" id="modal" role="dialog"
     th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_KA }">
    <div class="modal-dialog">
        <form method="POST" id="form" class="form-horizontal" th:action="@{/surat/disposisi}">
            <input type="hidden" name="id" th:value="${suratDetails.getId_surat()}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Disposisi</h3>
                </div>
                <div class="modal-body form">
                    <div class="row form">
                        <div class="col-md-12">
                            <textarea name="disposisi" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div th:replace="template/lumino-footer :: js-lib"></div>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var documentName = /*[[${ suratDetails.getFile_surat() }]]*/;
    var documentDisposisi = /*[[${ suratDetails.getFile_disposisi() }]]*/;
    PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");

    $('#get_file_disposisi').click(function (e) {
        e.preventDefault();
        PDFObject.embed([[@{/}]].replace('/','')+documentDisposisi, "#pdf-file");
    });
    $('#get_file_surat').click(function (e) {
        e.preventDefault();
        PDFObject.embed([[@{/}]].replace('/','')+documentName, "#pdf-file");
    });

    $('#menu_file li a').click(function (e) {
        e.preventDefault();
        var path = [[@{/}]].replace('/','');
        PDFObject.embed(path + $(this).attr("href"), "#pdf-file");
    });
    $('#menu_file li').click(function (e) {
        e.preventDefault();
        $('#menu_file li').each(function () {
            $(this).removeClass("active")
        });
        $(this).addClass("active");
    });

    /*]]>*/
</script>
</body>
</html>