<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SIUM</title>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=1)"></div>
<!--content-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="">
        <div class="col-lg-12">
            <h1 class="page-header">Buat Surat Masuk</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="block col-md-5" style="padding-bottom: 25px; padding-left:15px;">
            <form id="create-surat-masuk" action="" th:object="${surat}" method="post"
                  class="panel" style="padding: 10px;" enctype="multipart/form-data">
                <div class="panel-body">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" class="form-control"/>
                <input type="hidden" th:field="*{id_surat}" th:if="${surat.getId_surat()>0}"
                       class="form-control"/>
                <!--<fieldset>-->
                    <div class="form-group">
                        <label class="control-label">No. Agenda</label>
                        <div class="controls">
                            <input class="input-xlarge focused form-control" type="text"
                                   th:field="*{no_agenda}" required="required"/>
                            <span th:if="${#fields.hasErrors('no_agenda')}" th:errors="*{no_agenda}"
                                  class="label label-important">Tidak boleh kosong</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Catatan Kasium</label>
                        <div class="controls">
                            <textarea class="form-control" rows="3"  name="ket_kasium"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Surat Dari</label>
                        <div class="controls">
                            <input class="input-xlarge focused form-control" type="text"
                                   th:field="*{dari}" required="required"/>
                            <span th:if="${#fields.hasErrors('dari')}" th:errors="*{dari}"
                                  class="label label-important">Tidak boleh kosong</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nomor Surat</label>
                        <div class="controls">
                            <input class="input-xlarge focused form-control" type="text"
                                   th:field="*{no_surat}" required="required"/>
                            <span th:if="${#fields.hasErrors('no_surat')}" th:errors="*{no_surat}"
                                  class="label label-important">Tidak boleh kosong</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tanggal Surat</label>
                        <div class="controls">
                            <input class="input-xlarge focused datepicker form-control"
                                   data-date-format="yyyy-mm-dd" type="text" th:field="*{tanggal_surat}"
                                   placeholder="yyyy-mm-dd" required="required"/>
                            <span th:if="${#fields.hasErrors('tanggal_surat')}"
                                  th:errors="*{tanggal_surat}" class="label label-important">Tidak boleh kosong</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Jenis Surat</label>
                        <div class="controls">
                            <select class="form-control" id="jenissurat" th:field="*{jenis_surat}">
                                <option th:each="listCategoryDetail,itr : ${listCategory}"
                                        th:value="${listCategoryDetail.getKode_surat()}"
                                        th:text="${listCategoryDetail.getNama_jenis()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="undangan" style="display:none">
                        <label class="control-label">Tanggal Undangan</label>
                        <div class="controls">
                            <input class="input-xlarge focused datepicker form-control"
                                   data-date-format="yyyy-mm-dd" value="0000-00-00" type="text"
                                   th:field="*{tanggal_undangan}" placeholder="yyyy-mm-dd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Waktu Batas Akhir</label>
                        <div class="controls">
                            <input class="input-xlarge focused datepicker form-control" type="text"
                                   th:field="*{batas_waktu}" placeholder="yyyy-mm-dd hh:mm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Perihal</label>
                        <div class="controls">
                            <textarea class="form-control" rows="3"  th:field="*{perihal}" required="required"></textarea>
                            <span th:if="${#fields.hasErrors('perihal')}" th:errors="*{perihal}"
                                  class="label label-important">Tidak boleh kosong</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Keterangan Lain</label>
                        <div class="controls">
                            <textarea class="form-control" rows="3"  th:field="*{ket_lain}"></textarea>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{file_surat}" class="form-control"/>
                    <!--<div class="control-group">-->
                    <!--<label class="control-label">File Surat</label>-->
                    <!--<div class="controls">-->
                    <!--<input type="file" class="upload" data-target="file_surat"-->
                    <!--th:href="@{/upload}" name="file" accept="application/pdf"/>-->
                    <!--<span th:if="${#fields.hasErrors('file_surat')}" th:errors="*{file_surat}"-->
                    <!--class="label label-important">Tidak boleh kosong</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
                <!--</fieldset>-->
            </form>
        </div>
        <div class="col-md-7">
            <!-- block -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Dokumen</h3>
                    <div class="pull-right">
                        <button class="btn btn-primary span6" id="buttonupload">Upload File</button>
                        <button class="btn btn-warning span6" id="scan">Scan File</button>
                    </div>
                </div>
                <div class="panel-body" style="padding:5px 5px;">
                    <div class="" style="margin-top:10px; display:none;" id="progress">
                        <div class="progress" style="margin:0px">
                            <div class="progress-bar" style="width: 60%;">

                            </div>
                        </div>
                    </div>
                    <div class="" style="opacity:0;width: 0px;height: 0px;">
                        <form id="uploadfile">
                            <input type="file" name="uploadfile" style="opacity:0;width: 0px;height: 0px;"
                                   accept="application/pdf" class="form-control"/>
                        </form>
                    </div>
                    <div class="">
                        <div class="pdfobject-container col-sm-12 col-md-12" id="pdf-file">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>

</div>
<!--/.content-->
<div th:replace="template/lumino-footer :: js-lib"></div>
<script th:src="@{/vendors/PDFObject/pdfobject.min.js}"></script>
<script th:src="@{/assets/socket.io.js}"></script>
<script th:src="@{/vendors/jquery.mask.min.js}"></script>

<script th:inline="javascript">
    //socketio

    var io =  io.connect('http://localhost:9092', {reconnect: true});
    io.on('connection', function () {
        console.log("connected");
//        $("#scan").removeAttr("disabled");
    });
    io.on('error', function() {
//        $("#scan").attr("disabled","disabled");
        console.log("error");
    });
    io.on('scan-error', function (data) {
        data = JSON.parse(data);
        console.log(data);
//        $("#scan").removeAttr("disabled");
        alert(data.message);
    });

    io.on('scan-success', function (data) {
        $("#progress").hide();
        data = JSON.parse(data);
        console.log(data.path);
        PDFObject.embed([[@{/}]] +data.path, "#pdf-file");
        $("#file_surat").val(data.path);
        $("[name=uploadfile]").val("");
//        $("#scan").removeAttr("disabled");
    });

    io.on('progress', function (data) {
        data = JSON.parse(data);
        $("#progress").show();
        $("#progress .progress .bar").width(data.progress+'%');
//        $("#scan").attr("disabled","disabled");
    });

    io.on('disconnect', function (data) {
        console.log("disconnected");
//        $("#scan").attr("disabled","disabled");
    });
    //endsocketio


    $("#scan").click(function(e){
        var server = window.location.href.replace(/^((\w+:)?\/\/[^\/]+\/?).*$/,'$1')+[[@{/api/uploadFile}]];
        io.emit("scan",JSON.stringify({'server':server}));
//        $("#scan").attr("disabled","disabled");
    });

    $("[name=uploadfile]").change(function(){
        uploadFile();
    });

    $("[name=uploadfile]").click(function(){
        $(this).val("");
    });

    $("#buttonupload").click(function(){
        console.log("clicked");
        $("input[name=uploadfile]").click();
    });

    if($("#data.path").val()!== undefined){
        PDFObject.embed([[@{/}]].replace('/','')+$("#data.path").val(), "#pdf-file");
    }

    function uploadFile() {
        var formData = new FormData();
        formData.append('uploadfile', $("[name=uploadfile]")[0].files[0]);
        $.ajax({
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        percentComplete = parseInt(percentComplete * 100);
                        console.log(percentComplete);
                        $("#progress").show();
                        $("#progress .progress .bar").width(percentComplete+'%');
                        if (percentComplete === 100) {

                        }
                    }
                }, false);
                return xhr;
            },
            url: [[@{/api/uploadFile}]] ,
        type: "POST",
                data: formData,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
            $("#progress").hide();
            $("#progress .progress .bar").width('0%');
            console.log("SUKSES : "+data);
            PDFObject.embed([[@{/}]].replace('/','')+data.path, "#pdf-file");
                $("#file_surat").val(data.path);
                $("[name=uploadfile]").val("");
            },
            error: function () {
                $("#progress").hide();
                $("#progress .progress .bar").width('0%');
                $("[name=uploadfile]").val("");
                console.log("Error");
            }
        });
    }

    if($("[name=file_surat]").val().length>0){
        PDFObject.embed([[@{/}]].replace('/','')+$("[name=file_surat]").val(), "#pdf-file");
    }

</script>
<script>
    $("#no_agenda").focus();

    $(function() {
        $("#tanggal_undangan").mask("0000-00-00");
        $("#tanggal_surat").mask("0000-00-00");
        $("#batas_waktu").mask("0000-00-00 00:00");
    });

    $("#jenissurat").change(function(e){
        if($(this).val()=="Undangan"){
            $("#undangan").show();
        }else{
            $("#undangan").hide();
        }
    });

    $("#create-surat-masuk").submit(function(e){
        if($("#file_surat").val()===""){
            e.preventDefault();
            alert("Upload/Scan file terlebih dahulu");
        }
    });
</script>
</body>
</html>