<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>
    <meta http-equiv="refresh" content="120"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <style th:inline="text">

        html, body {
            height: 100%;
        }

        body {
            background-color: #1b1b1b;
        }

        .fill {
            min-height: 100%;
            height: 100%;
        }

        .vertical-align {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .form-signin {

        }

        .panel-default {
            opacity: 0.98;
            /*margin-top:30px;*/
        }

        .input-group-addon {
            background-color: rgb(50, 118, 177);
            border-color: rgb(40, 94, 142);
            color: rgb(255, 255, 255);
        }

        .form-signup input[type="text"], .form-signup input[type="password"] {
            border: 1px solid rgb(50, 118, 177);
        }

        .fullscreen_bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: 50% 50%;
            background-image: url('http://tipskiatberbagi.com/wp-content/uploads/2016/08/polisi-indonesia.jpg');
            background-repeat: repeat;
        }

        .layer {
            background-color: rgba(121, 111, 110, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .logo {
            position: absolute;
            margin-top: 100px;
        }

        .logo .container {
            height: 100%;
        }
    </style>
    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
</head>
<body id="login">

<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="layer"/>
</div>

<div class="container fill">
    <div class="row vertical-align fill">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="row" style="padding: 35px;">
                <img class="col-md-12" th:src="@{/assets/img/epolice-logo.png}" style="width: 120%;height:120%;"/>
                <div style="position: absolute; bottom:-10px; left: 100px; width: 100%; color:white;">
                    <h4>E-Police</h4>
                    <h5 style="margin-top:-8px;">SIUM</h5><br/>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-signin" method="post" action="">
                        <h3 class="text-center">
                            Login<br/><br/></h3>
                        <div th:if="${param.error}" class="alert alert-error alert-block">
                            <h4 class="alert-heading">Kesalahan dalam login !</h4>
                            Username / Password salah
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success alert-block">
                            <h4 class="alert-heading">Logout Berhasil !</h4>
                            Anda berhasil keluar
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                                <input type="text" name="username" placeholder="username" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" name="password" class="form-control" placeholder="Password"/>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script>
    $('input:visible:enabled:first').focus();
</script>
</body>
</html>