<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="navbar navbar-fixed-top" th:fragment="header">

    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" th:href="@{/}">SIUM</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i
                                class="icon-user"></i> <b th:text="${T(com.suim.user.Personil).getName()}">asd</b> <i
                                class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="margin-top:-20px;">
                                <form th:action="@{/logout}" method="post" id="logout">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                </form>
                                <a tabindex="-1" href="#" id="logoutBtn">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_KA }">
                        <a th:href="@{/suratmasuk}">Surat Masuk</a>
                    </li>
                    <li th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }">
                        <a th:href="@{/surat/create}">Buat Surat Masuk</a>
                    </li>
                    <li>
                        <a th:href="@{/disposisi}">Disposisi</a>
                    </li>
                    <li th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }">
                        <a th:href="@{/suratkeluar}">Surat Keluar</a>
                    </li>
                    <li th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }">
                        <a th:href="@{/surat/createkeluar}">Buat Surat Keluar</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
</body>
</html>