<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SIUM</title>
</head>
<body>
<div th:fragment="header(currentActive)">
    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/lumino.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <!--Icons-->
    <script th:src="@{/bootstrap/js/lumino.glyphs.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/bootstrap/js/html5shiv.js}"></script>
    <script th:src="@{/bootstrap/js/respond.min.js}"></script>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><span>E-Police </span>SIUM</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            <b th:text="${T(com.suim.user.Personil).getName()}">asd</b><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--<li><a href="#">-->
                            <!--<svg class="glyph stroked male-user">-->
                            <!--<use xlink:href="#stroked-male-user"></use>-->
                            <!--</svg>-->
                            <!--Profile</a></li>-->
                            <!--<li><a href="#">-->
                            <!--<svg class="glyph stroked gear">-->
                            <!--<use xlink:href="#stroked-gear"></use>-->
                            <!--</svg>-->
                            <!--Settings</a></li>-->
                            <li>
                                <form th:action="@{/logout}" method="post" id="logout">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                </form>
                                <a href="#" onclick="$('#logout').submit()">
                                    <svg class="glyph stroked cancel">
                                        <use xlink:href="#stroked-cancel"></use>
                                    </svg>
                                    Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu" style="margin-top:25px;">
            <li th:classappend="${currentActive==0 ? 'active':''}"><a th:href="@{/}">
                <svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg>
                Dashboard</a></li>
            <li class="parent"
                th:classappend="${currentActive==1 ? 'active':''}"
                th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_SRIPIM OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_WAKA OR T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_KA }">
                <a th:href="@{/suratmasuk}">
                <span th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }"
                      data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down">
                    <use
                            xlink:href="#stroked-chevron-down"></use></svg></span>
                    <svg th:unless="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }"
                         class="glyph stroked email"><use xlink:href="#stroked-email"/></svg> Surat Masuk
                </a>
                <ul class="children collapse"  th:classappend="${currentActive==1} ? in : ''" id="sub-item-1"
                    th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }"
                >
                    <li>
                        <a class="" th:href="@{/surat/create}">
                            <svg class="glyph stroked chevron-right">
                                <use xlink:href="#stroked-chevron-right"></use>
                            </svg>
                            Buat Surat Masuk
                        </a>
                    </li>
                </ul>
            </li>
            <li th:classappend="${currentActive==2 ? 'active':''}"><a th:href="@{/disposisi}">
                <svg class="glyph stroked pencil">
                    <use xlink:href="#stroked-pencil"/>
                </svg>
                Disposisi</a></li>
            <li class="parent"
                th:classappend="${currentActive==3 ? 'active':''}"
                th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }">
                <a th:href="@{/suratkeluar}">
                <span th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }"
                      data-toggle="collapse" href="#sub-item-keluar"><svg class="glyph stroked chevron-down"><use
                        xlink:href="#stroked-chevron-down"></use></svg>
                </span>
                <svg th:unless="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }"
                     class="glyph stroked printer"><use xlink:href="#stroked-printer"/></svg> Surat Keluar
                </a>
                <ul class="children collapse" th:classappend="${currentActive==3} ? in : ''" id="sub-item-keluar"
                    th:if="${T(com.suim.user.Personil).getRoles() == T(com.suim.user.Personil).USER_ADMIN }"
                >
                    <li>
                        <a class="" th:href="@{/surat/createkeluar}">
                            <svg class="glyph stroked chevron-right">
                                <use xlink:href="#stroked-chevron-right"></use>
                            </svg>
                            Buat Surat Keluar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div><!--/.sidebar-->
</div>
</body>
</html>