<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div th:fragment="suratmasuk(surat)">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left" th:text="${ surat.getDatetime_diterima() }"></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <h5>
                        <small th:text="${ surat.getDari() }"> Dari</small>
                    </h5>
                    <h4 th:text="${ surat.getJenis_surat() }"></h4>
                    <p style="min-height:80px" th:text=" ${ surat.getPerihalSubString() } "></p>
                    <div class="well" style="margin-top:30px;">
                        <a th:href="@{/surat/detail(id = ${ surat.getId_surat() } )}"
                           class="btn btn-small btn-block btn-primary">Buka</a>
                    </div>
                    <div>
                        <div class="pull-left" style="margin-bottom:0px;">Status</div>
                        <div class="pull-right" style="margin-top:-4px;" th:if="${
                        surat.getStep_surat()==3 OR
                        surat.getStep_surat()==5 OR
                        surat.getStep_surat()==6 OR
                        surat.getStep_surat()==7}">
                            <a style="padding:0 10px" th:onclick="'requestDetailDistribusi('+${surat.getId_surat()}+')'"
                               class="btn btn-small btn-block btn-primary">Distribusikan</a>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div  style="margin-top:5px" th:switch="${surat.getStep_surat()}">
                        <div th:case="2" class="muted text-small" th:inline="text">Diteruskan ke Waka</div>
                        <div th:case="3" class="muted text-small" th:inline="text">Didisposisi Waka</div>
                        <div th:case="4" class="muted text-small" th:inline="text">Diteruskan ke KA</div>
                        <div th:case="5" class="muted text-small" th:inline="text">Didisposisi KA</div>
                        <div th:case="6" class="muted text-small" th:inline="text">Didisposisi melalui Ajudan</div>
                        <div th:case="7" class="muted text-small" th:inline="text">Terdistribusi</div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-right red" style="color:red;font-size:8pt" th:text=" ${ surat.getNo_surat() } "></div>
                <div class="muted pull-left red" style="color:red;font-size:8pt" th:text=" ${ surat.getNo_agenda() } "></div>
            </div>
        </div>
    </div>
    <div th:fragment="buttonsurat(surat)">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left" th:text="${ surat.getDatetime_diterima() }"></div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <h5>
                        <small th:text="${ surat.getDari() }"> Dari</small>
                    </h5>
                    <h4 th:text="${ surat.getJenis_surat() }"></h4>
                    <p style="min-height:80px" th:text=" ${ surat.getPerihalSubString() } "></p>
                    <div class="well" style="margin-top:30px;">
                        <a th:href="@{/surat/detail(id = ${ surat.getId_surat() } )}"
                           class="btn btn-small btn-block btn-primary">Buka</a>
                    </div>
                    <div>
                        <div class="pull-left" style="margin-bottom:0px;">Status</div>
                        <div class="pull-right" style="margin-top:-4px;" th:if="${
                        surat.getStep_surat()==3 OR
                        surat.getStep_surat()==5 OR
                        surat.getStep_surat()==6 OR
                        surat.getStep_surat()==7}">
                            <a style="padding:0 10px" th:onclick="'requestDetailDistribusi('+${surat.getId_surat()}+')'"
                               class="btn btn-small btn-block btn-primary">Distribusikan</a>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div  style="margin-top:5px" th:switch="${surat.getStep_surat()}">
                        <div th:case="2" class="muted text-small" th:inline="text">Diteruskan ke Waka</div>
                        <div th:case="3" class="muted text-small" th:inline="text">Didisposisi Waka</div>
                        <div th:case="4" class="muted text-small" th:inline="text">Diteruskan ke KA</div>
                        <div th:case="5" class="muted text-small" th:inline="text">Didisposisi KA</div>
                        <div th:case="6" class="muted text-small" th:inline="text">Didisposisi melalui Ajudan</div>
                        <div th:case="7" class="muted text-small" th:inline="text">Terdistribusi</div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-right red" style="color:red;font-size:8pt" th:text=" ${ surat.getNo_surat() } "></div>
                <div class="muted pull-left red" style="color:red;font-size:8pt" th:text=" ${ surat.getNo_agenda() } "></div>
            </div>
        </div>
    </div>
</body>
</html>