<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SIUM</title>
    <style>
        .dashboard-data{
            line-height: 1.2em;
        }
    </style>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=0)"></div>
<!--content-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked bag">
                            <use xlink:href="#stroked-bag"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div th:text="${online}" class="large">120</div>
                        <div class="text-muted dashboard-data">User Online</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked empty-message">
                            <use xlink:href="#stroked-empty-message"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div th:text="${suratmasuk}" class="large">52</div>
                        <div class="text-muted dashboard-data">Surat Masuk Hari Ini</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div th:text="${disposisi}" class="large">24</div>
                        <div class="text-muted dashboard-data">Disposisi Hari Ini</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content">
                            <use xlink:href="#stroked-app-window-with-content"></use>
                        </svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div th:text="${suratkeluar}" class="large">25.2k</div>
                        <div class="text-muted dashboard-data">Surat Keluar Hari Ini</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Statistik Surat Dalam 1 Bulan</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="166" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <!--<div class="row">-->
        <!--<div class="col-xs-6 col-md-3">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body easypiechart-panel">-->
                    <!--<h4>New Orders</h4>-->
                    <!--<div class="easypiechart" id="easypiechart-blue" data-percent="92"><span class="percent">92%</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-3">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body easypiechart-panel">-->
                    <!--<h4>Comments</h4>-->
                    <!--<div class="easypiechart" id="easypiechart-orange" data-percent="65"><span-->
                            <!--class="percent">65%</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-3">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body easypiechart-panel">-->
                    <!--<h4>New Users</h4>-->
                    <!--<div class="easypiechart" id="easypiechart-teal" data-percent="56"><span class="percent">56%</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-3">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body easypiechart-panel">-->
                    <!--<h4>Visitors</h4>-->
                    <!--<div class="easypiechart" id="easypiechart-red" data-percent="27"><span class="percent">27%</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->

    <!--<div class="row">-->
        <!--<div class="col-md-8">-->

            <!--<div class="panel panel-default chat">-->
                <!--<div class="panel-heading" id="accordion">-->
                    <!--<svg class="glyph stroked two-messages">-->
                        <!--<use xlink:href="#stroked-two-messages"></use>-->
                    <!--</svg>-->
                    <!--Chat-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<ul>-->
                        <!--<li class="left clearfix">-->
								<!--<span class="chat-img pull-left">-->
									<!--<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle"/>-->
								<!--</span>-->
                            <!--<div class="chat-body clearfix">-->
                                <!--<div class="header">-->
                                    <!--<strong class="primary-font">John Doe</strong>-->
                                    <!--<small class="text-muted">32 mins ago</small>-->
                                <!--</div>-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum-->
                                    <!--ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida-->
                                    <!--tortor aliquam ultricies.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="right clearfix">-->
								<!--<span class="chat-img pull-right">-->
									<!--<img src="http://placehold.it/80/dde0e6/5f6468" alt="User Avatar"-->
                                         <!--class="img-circle"/>-->
								<!--</span>-->
                            <!--<div class="chat-body clearfix">-->
                                <!--<div class="header">-->
                                    <!--<strong class="pull-left primary-font">Jane Doe</strong>-->
                                    <!--<small class="text-muted">6 mins ago</small>-->
                                <!--</div>-->
                                <!--<p>-->
                                    <!--Mauris dignissim porta enim, sed commodo sem blandit non. Ut scelerisque sapien eu-->
                                    <!--mauris faucibus ultrices. Nulla ac odio nisl. Proin est metus, interdum scelerisque-->
                                    <!--quam eu, eleifend pretium nunc. Suspendisse finibus auctor lectus, eu interdum-->
                                    <!--sapien.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="left clearfix">-->
								<!--<span class="chat-img pull-left">-->
									<!--<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle"/>-->
								<!--</span>-->
                            <!--<div class="chat-body clearfix">-->
                                <!--<div class="header">-->
                                    <!--<strong class="primary-font">John Doe</strong>-->
                                    <!--<small class="text-muted">32 mins ago</small>-->
                                <!--</div>-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum-->
                                    <!--ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida-->
                                    <!--tortor aliquam ultricies.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

                <!--<div class="panel-footer">-->
                    <!--<div class="input-group">-->
                        <!--<input id="btn-input" type="text" class="form-control input-md"-->
                               <!--placeholder="Type your message here..."/>-->
                        <!--<span class="input-group-btn">-->
								<!--<button class="btn btn-success btn-md" id="btn-chat">Send</button>-->
							<!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>&lt;!&ndash;/.col&ndash;&gt;-->

        <!--<div class="col-md-4">-->

            <!--<div class="panel panel-blue">-->
                <!--<div class="panel-heading dark-overlay">-->
                    <!--<svg class="glyph stroked clipboard-with-paper">-->
                        <!--<use xlink:href="#stroked-clipboard-with-paper"></use>-->
                    <!--</svg>-->
                    <!--To-do List-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<ul class="todo-list">-->
                        <!--<li class="todo-list-item">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" id="checkbox"/>-->
                                <!--<label for="checkbox">Make a plan for today</label>-->
                            <!--</div>-->
                            <!--<div class="pull-right action-buttons">-->
                                <!--<a href="#">-->
                                    <!--<svg class="glyph stroked pencil">-->
                                        <!--<use xlink:href="#stroked-pencil"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="flag">-->
                                    <!--<svg class="glyph stroked flag">-->
                                        <!--<use xlink:href="#stroked-flag"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="trash">-->
                                    <!--<svg class="glyph stroked trash">-->
                                        <!--<use xlink:href="#stroked-trash"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="todo-list-item">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" id="checkbox"/>-->
                                <!--<label for="checkbox">Update Basecamp</label>-->
                            <!--</div>-->
                            <!--<div class="pull-right action-buttons">-->
                                <!--<a href="#">-->
                                    <!--<svg class="glyph stroked pencil">-->
                                        <!--<use xlink:href="#stroked-pencil"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="flag">-->
                                    <!--<svg class="glyph stroked flag">-->
                                        <!--<use xlink:href="#stroked-flag"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="trash">-->
                                    <!--<svg class="glyph stroked trash">-->
                                        <!--<use xlink:href="#stroked-trash"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="todo-list-item">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" id="checkbox"/>-->
                                <!--<label for="checkbox">Send email to Jane</label>-->
                            <!--</div>-->
                            <!--<div class="pull-right action-buttons">-->
                                <!--<a href="#">-->
                                    <!--<svg class="glyph stroked pencil">-->
                                        <!--<use xlink:href="#stroked-pencil"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="flag">-->
                                    <!--<svg class="glyph stroked flag">-->
                                        <!--<use xlink:href="#stroked-flag"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="trash">-->
                                    <!--<svg class="glyph stroked trash">-->
                                        <!--<use xlink:href="#stroked-trash"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="todo-list-item">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" id="checkbox"/>-->
                                <!--<label for="checkbox">Drink coffee</label>-->
                            <!--</div>-->
                            <!--<div class="pull-right action-buttons">-->
                                <!--<a href="#">-->
                                    <!--<svg class="glyph stroked pencil">-->
                                        <!--<use xlink:href="#stroked-pencil"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="flag">-->
                                    <!--<svg class="glyph stroked flag">-->
                                        <!--<use xlink:href="#stroked-flag"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="trash">-->
                                    <!--<svg class="glyph stroked trash">-->
                                        <!--<use xlink:href="#stroked-trash"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="todo-list-item">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" id="checkbox"/>-->
                                <!--<label for="checkbox">Do some work</label>-->
                            <!--</div>-->
                            <!--<div class="pull-right action-buttons">-->
                                <!--<a href="#">-->
                                    <!--<svg class="glyph stroked pencil">-->
                                        <!--<use xlink:href="#stroked-pencil"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="flag">-->
                                    <!--<svg class="glyph stroked flag">-->
                                        <!--<use xlink:href="#stroked-flag"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="trash">-->
                                    <!--<svg class="glyph stroked trash">-->
                                        <!--<use xlink:href="#stroked-trash"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="todo-list-item">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" id="checkbox"/>-->
                                <!--<label for="checkbox">Tidy up workspace</label>-->
                            <!--</div>-->
                            <!--<div class="pull-right action-buttons">-->
                                <!--<a href="#">-->
                                    <!--<svg class="glyph stroked pencil">-->
                                        <!--<use xlink:href="#stroked-pencil"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="flag">-->
                                    <!--<svg class="glyph stroked flag">-->
                                        <!--<use xlink:href="#stroked-flag"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                                <!--<a href="#" class="trash">-->
                                    <!--<svg class="glyph stroked trash">-->
                                        <!--<use xlink:href="#stroked-trash"></use>-->
                                    <!--</svg>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--<div class="input-group">-->
                        <!--<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task"/>-->
                        <!--<span class="input-group-btn">-->
								<!--<button class="btn btn-primary btn-md" id="btn-todo">Add</button>-->
							<!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>&lt;!&ndash;/.col&ndash;&gt;-->
    <!--</div>&lt;!&ndash;/.row&ndash;&gt;-->
</div>    <!--/.main-->
<!--/.content-->
<div th:replace="template/lumino-footer :: js-lib"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function getRandom() {
        return Math.random() * (255 - 0) + 0;
    }

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };

    var config = {
        type: 'line',
        data : {
            labels: eval([[${dates}]]),
            datasets: [
                {
                    label: "Surat Masuk",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    fill : false,
                    data: eval([[${monthlySuratMasuk}]])
                },
                {
                    label: "Disposisi",
                    backgroundColor: window.chartColors.green,
                    borderColor: window.chartColors.green,
                    fill : false,
                    data: eval([[${monthlyDisposisi}]])
                },
                {
                    label: "Surat Keluar",
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    fill : false,
                    data: eval([[${monthlySuratKeluar}]])
                }
            ]
        },
        options: {
            responsive: true,
            title:{
                display:true,
                text:'Chart.js Line Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }

    };

    window.onload = function(){
        var ctx = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(ctx, config);
    };
    /*]]>*/
</script>
</body>

</html>
