<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{/vendors/select2/css/select2.min.css}"/>

    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

</head>

<body>

<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <div id="content">
        <div class="row-fluid">
            <div class="span3" style="margin-left:0px;margin-right:15px;" th:each="surat,itrStart : ${ listSurats }">
                <!-- block -->
                <div th:replace="template/surat:: suratmasuk(surat=${surat})"/>
                <!-- /block -->
            </div>
        </div>
    </div>
</div>

<!--/.fluid-container-->
<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/scripts.js}"></script>
<script th:src="@{/vendors/select2/js/select2.min.js}"></script>


</body>

</html>