<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/assets/bootstrap-tagsinput-typeahead.css}" rel="stylesheet"/>
    <link th:href="@{/assets/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SIUM</title>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=${menu})"></div>
<!--content-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="${title}">Surat Masuk</h1>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>No Surat</th>
                    <th>Jenis Surat</th>
                    <th>Tujuan</th>
                    <th>Tanggal Surat</th>
                    <th>Perihal</th>
                    <th data-orderable="false"> - </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>No Surat</th>
                    <th>Jenis Surat</th>
                    <th>Tujuan</th>
                    <th>Tanggal Surat</th>
                    <th>Perihal</th>
                    <th data-orderable="false"> - </th>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>No Surat</th>
                    <th>Jenis Surat</th>
                    <th>Tujuan</th>
                    <th>Tanggal Surat</th>
                    <th>Perihal</th>
                    <th data-orderable="false"> - </th>
                </tr>
                </tfoot>
            </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div><!--/.main-->
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <form method="POST" id="form" class="form-horizontal">
            <input type="hidden" name="id_surat" class="form-control"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" class="form-control"/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3 class="modal-title">Distribusi Disposisi</h3>
                </div>
                <div class="modal-body">
                    <div class="row form">
                        <div class="col-md-12" id="remote">
                            <input class="typeahead form-control col-md-12" id="distribusi-jabatan" type="text" data-role="tagsinput" placeholder="Jabatan"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="distribusikan()">Distribusikan</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/.content-->
<div th:replace="template/lumino-footer :: js-lib"></div>

<script th:inline="javascript">
/*<![CDATA[*/
(function(){
    var columns = [
        {
            "data" : "no_surat",
            "name":"no_surat",
            "searchable":true,
            "orderable":true,
            "search":""
        },
        {
            "data" : "jenis_surat",
            "name":"jenis_surat",
            "searchable":true,
            "orderable":true,
            "search":""
        },
        {
            "data" : "kepada",
            "name":"kepada",
            "searchable":true,
            "orderable":true,
            "search":""
        },
        {
            "data" : "tanggal_surat",
            "name":"tanggal_surat",
            "searchable":true,
            "orderable":true,
            "search":""},
        {
            "data" : "perihal",
            "name":"perihal",
            "searchable":true,
            "orderable":true,
            "search":""},
        {
            "data" : "aksi",
            "name":"no_agenda",
            "searchable":false,
            "orderable":false,
            "search":""
        }
    ];

    var table = $('#example').DataTable({
        lengthChange: true,
        "processing": true,
        "serverSide": true,
//        "searching" : false,
        "order": [[ 3, "desc" ]],
        ajax:{
            "url":  [[@{/{path}(path=${url})}]],
            "type": "POST",
            dataType: "json",
            contentType: "application/json",
            "data": function ( d ) {
                return JSON.stringify( d );
            },
            beforeSend: function(xhr) {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                xhr.setRequestHeader(header, token);
            }
        },
        "columns": columns,

    });

    $('#example').css("width","100%");

    (function(){
        var index = 0;
        table.columns().every( function () {
            if(columns[index].searchable) {
                var that = this;
                var title = $(this.footer()).text();

                if(title == "Jenis Surat"){
                    $.get([[@{/api/jenissurat/}]],function(data){
                        if (typeof data === 'string' || data instanceof String)
                            data = eval(data);
                        var opts ="";

                        var type = [[${title}]].toLowerCase();
                        if(type=="surat masuk" || type=="disposisi"){
                            data = data.surat_masuk;
                        }else{
                            data = data.surat_keluar;
                        }

                        for(var index=0;index<data.length;index++){
                            var s = data[index];
                            opts +="<option value=\""+s.kode_surat+"\">"+s.nama_jenis+"</option>";
                        }
                        var element = $("<select class=\"form-control\" style='width:100%;height:100%;' name=\"jenis_surat\"><option value=''>Semua Jenis</option>"+opts+"</select>")
                                .appendTo( $(that.footer()).empty() )
                                .on( 'change', function () {
                                    var val = $(this).val()

                                    that.search(val).draw();
                                } );

                    });
                }else{
                    $('<input type="text" placeholder="' + title + '" />')
                            .appendTo( $(that.footer()).empty() )
                            .on('keyup change', function () {
                                console.log(that);
                                console.log(that.search());
                                console.log(this.value);
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                }

            }
            index++;
        });
    })();
/*]]>*/

})();
</script>
<script th:src="@{/assets/bloodhound.min.js}"></script>
<script th:src="@{/assets/typeahead.bundle.min.js}"></script>
<script th:src="@{/assets/typeahead.jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap-tagsinput.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var data = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('jabatan'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '/api/jabatan',
    });

    data.initialize();

    var elt = $('#distribusi-jabatan');

    elt.tagsinput({
        itemValue: 'id_jabatan',
        itemText: 'jabatan',
        typeaheadjs: {
            name: 'jabatan',
            displayKey: 'jabatan',
            source: data.ttAdapter()
        }
    });


    function requestDetailDistribusi(id){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $('#distribusi-jabatan').tagsinput('removeAll');
        $("#modal [name=id_surat]").val(id);
        $.ajax({
            type: "POST",
            url: "/suratmasuk/distribusi",
            data : {"id":id},
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(data, textStatus, jqXHR) {
                data.forEach(function(item){$('#distribusi-jabatan').tagsinput('add',item);});
                $("#modal").modal("show");
            },
            error: function(request, status, error) {

            }
        });
    }

    function detail(id){
        window.location.href=[[@{/surat/detail/}]]+"?id="+id;
    }

    function detailSuratKeluar(id){
        window.location.href=[[@{/surat/detailkeluar/}]]+"?id="+id;
    }

    function distribusikan(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var id = $("#modal [name=id_surat]").val();
        $.ajax({
            type: "POST",
            url: "/distribusi",
            data : {"id":id,"jabatan":JSON.stringify( $('#distribusi-jabatan').tagsinput('items') )},
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(data, textStatus, jqXHR) {
                $("#modal").modal("hide");
            },
            error: function(request, status, error) {

            }
        });
    }
    /*]]>*/
</script>
</body>

</html>
