<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{/vendors/select2/css/select2.min.css}" />
    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

</head>

<body>
<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <!--<div class="row-fluid">-->
        <!--&lt;!&ndash;/span&ndash;&gt;-->
        <!--<div class="span12">-->
            <!--<form class="form-horizontal pull-left" id="searchForm" th:action="@{/suratmasuk}">-->
                <!--<div class="control-group">-->
                    <!--<div class="">-->
                        <!--<input type="text" id="searchText" placeholder="Search.."/>-->
                        <!--<div class="btn-group">-->
                            <!--<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">Cari Berdasarkan<span-->
                                    <!--class="caret"></span></button>-->
                            <!--<ul class="dropdown-menu search-element">-->
                                <!--<li th:each="detailSearch,itrNumber : ${ listSearch }"><a href="#"-->
                                                                                          <!--th:attr="data-id=${detailSearch.getId()}"-->
                                                                                          <!--th:text="${ detailSearch.getName() }"></a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <div id="content">
        <div class="row-fluid">
            <div class="span3"  style="margin-left:0px;margin-right:15px;" th:each="surat,itrStart : ${ listSurats }">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left" th:text="${ surat.getTanggal_surat() }"></div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <h5>
                                <small th:text="${ surat.getKepada() }"> Dari</small>
                            </h5>
                            <h4 th:text="${ surat.getJenis_surat() }"></h4>
                            <p style="min-height:80px" th:text=" ${ surat.getPerihalSubString() } "></p>
                            <div class="well" style="margin-top:30px;">
                                <a th:href="@{/surat/detailkeluar(id = ${ surat.getId_surat() } )}"
                                   class="btn btn-small btn-block btn-primary">Buka</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
    </div>
    <div id="distribusiAlert" class="modal hide" th:if="${isSripim }">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">&times;</button>
            <h3>Distribusikan Surat</h3>
        </div>
        <div class="modal-body">
            <form th:action="@{/penerimaDisposisi/create}" method="post" class="text-center" id="form-distribusi">
                <div class="control-group">
                    <label class="control-label">Pangkat Penerima</label>
                    <input type="hidden" name="_csrf" th:value="${ _csrf.token }"/>
                    <input type="hidden" name="id_surat_masuk" id="distribusi_id_surat_masuk_field"/>
                    <div class="controls">
                        <select class="select2" name="id_jabatan">
                            <option th:each="detailPangkat,itrStart : ${listPangkats }" th:value="${ detailPangkat.id }"
                                    th:text="${ detailPangkat.pangkat_lengkap }"></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Distribusikan" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/.fluid-container-->
<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/scripts.js}"></script>
<script th:src="@{/vendors/select2/js/select2.min.js}"></script>
<script>
       		$(function(){
				$('.select2').select2();
       		})	



</script>
</body>

</html>