<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/assets/bootstrap-tagsinput-typeahead.css}" rel="stylesheet"/>
    <link th:href="@{/assets/bootstrap-tagsinput.css}" rel="stylesheet"/>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{/vendors/select2/css/select2.min.css}" />

    <meta name="_csrf" th:content="${_csrf.token != null } ? ${_csrf.token} "/>
    <meta name="_csrf_header" th:content="${_csrf.headerName != null } ? ${_csrf.headerName} "/>

    <style>
        .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
        color: #999
        }

        .tt-menu {    /* used to be tt-dropdown-menu in older versions */
        width: 422px;
        margin-top: 4px;
        padding: 4px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
        padding: 3px 20px;
        line-height: 24px;
        }

        .modal-body{overflow-y: inherit;}

        .tt-suggestion.tt-cursor,.tt-suggestion:hover {
        color: #fff;
        background-color: #0097cf;

        }

        .tt-suggestion p {
        margin: 0;
        }

        .bootstrap-tagsinput{
            display: block;
        }
        .bootstrap-tagsinput input { width:100%!important; }

    </style>
</head>

<body>
<div th:replace="template/header :: header"></div>
<div class="container-fluid">
    <!--<div class="row-fluid">-->
        <!--&lt;!&ndash;/span&ndash;&gt;-->
        <!--<div class="span12">-->
            <!--<form class="form-horizontal pull-left" id="searchForm" th:action="@{/suratmasuk}">-->
                <!--<div class="control-group">-->
                    <!--<div class="">-->
                        <!--<input type="text" id="searchText" class="typeahead form-control"  placeholder="Search.."/>-->
                        <!--<div class="btn-group">-->
                            <!--<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">Cari Berdasarkan<span-->
                                    <!--class="caret"></span></button>-->
                            <!--<ul class="dropdown-menu search-element">-->
                                <!--<li th:each="detailSearch,itrNumber : ${ listSearch }"><a href="#"-->
                                                                                          <!--th:attr="data-id=${detailSearch.getId()}"-->
                                                                                          <!--th:text="${ detailSearch.getName() }"></a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <div id="content">
        <div class="row-fluid">
            <div class="span3"  style="margin-left:0px;margin-right:15px;" th:each="surat,itrStart : ${ listSurats }">
                <!-- block -->
                <div th:replace="template/surat :: suratmasuk(surat=${surat})"/>
                <!-- /block -->
            </div>
        </div>
    </div>

    <div id="distribusiAlert" class="modal hide" th:if="${isSripim }">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">&times;</button>
            <h3>Distribusikan Surat</h3>
        </div>
        <div class="modal-body">
            <form th:action="@{/penerimaDisposisi/create}" method="post" class="text-center" id="form-distribusi">
                <div class="control-group">
                    <label class="control-label">Pangkat Penerima</label>
                    <input type="hidden" name="_csrf" th:value="${ _csrf.token }"/>
                    <input type="hidden" name="id_surat_masuk" id="distribusi_id_surat_masuk_field"/>
                    <div class="controls">
                        <select class="select2" name="id_jabatan">
                            <option th:each="detailPangkat,itrStart : ${listPangkats }" th:value="${ detailPangkat.id }"
                                    th:text="${ detailPangkat.pangkat_lengkap }"></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Distribusikan" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/.fluid-container-->

<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <form method="POST" id="form" class="form-horizontal">
            <input type="hidden" name="id_surat"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Distribusi Disposisi</h3>
                </div>
                <div class="modal-body form">
                    <div class="col-md-12" id="remote">
                            <input class="typeahead form-control col-md-12" id="distribusi-jabatan" type="text"  data-role="tagsinput"  placeholder="Jabatan"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="distribusikan()">Distribusikan</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/vendors/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/select2/js/select2.min.js}"></script>
<script th:src="@{/assets/scripts.js}"></script>
<script th:src="@{/assets/bloodhound.min.js}"></script>
<script th:src="@{/assets/typeahead.bundle.min.js}"></script>
<script th:src="@{/assets/typeahead.jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap-tagsinput.min.js}"></script>
<script>
    $(function(){
        $('.select2').select2();
    })

    var data = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('jabatan'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '/api/jabatan',
    });

    data.initialize();

    var elt = $('#distribusi-jabatan');

    elt.tagsinput({
      itemValue: 'id_jabatan',
      itemText: 'jabatan',
      typeaheadjs: {
        name: 'jabatan',
        displayKey: 'jabatan',
        source: data.ttAdapter()
      }
    });


    function requestDetailDistribusi(id){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $('#distribusi-jabatan').tagsinput('removeAll');
        $("#modal [name=id_surat]").val(id);
        $.ajax({
            type: "POST",
            url: "/suratmasuk/distribusi",
            data : {"id":id},
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(data, textStatus, jqXHR) {
                data.forEach(function(item){$('#distribusi-jabatan').tagsinput('add',item);});
                $("#modal").modal("show");
            },
            error: function(request, status, error) {

            }
        });
    }

    function distribusikan(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var id = $("#modal [name=id_surat]").val();
        $.ajax({
            type: "POST",
            url: "/distribusi",
            data : {"id":id,"jabatan":JSON.stringify( $('#distribusi-jabatan').tagsinput('items') )},
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(data, textStatus, jqXHR) {
                $("#modal").modal("hide");
            },
            error: function(request, status, error) {

            }
        });
    }
</script>
</body>

</html>